<launch>

	<node pkg="px4ctrl" type="test_fusion" name="test_fusion" output="screen">

		<param name="body_pose_topic"   type="string" value="/vicon/odom"/>
		<param name="imu_data_topic"    type="string" value="/camera/imu"/>
		<param name="extri_params_file" type="string" value="/home/amov/Fast250/src/px4ctrl/config/extrinsic.yaml"/>

        <rosparam command="load" file="$(find px4ctrl)/config/fusion.yaml" />
	</node>
 
</launch>
