<launch>

	<node pkg="jpcm" type="JPCM_node" name="JPCM_node" output="screen">
        <!-- <remap from="~odom" to="/vicon_imu_ekf_odom" /> -->	
		<remap from="~GT"   to="/vicon/odom" />
		<!-- rev from FakeGPS + IMU Fusion-->
		<remap from="~odom" to="/self/fusion_odom" />
		<remap from="~acc"  to="/vrpn_client_node/Quad13_ipn/accel" />
		<remap from="~cmd"  to="/position_cmd" />

        <rosparam command="load" file="$(find jpcm)/config/ctrl_param_fpv.yaml" />
	</node>
 
</launch>
