<launch>

	<node pkg="px4ctrl" type="odom_node" name="odom" output="screen">
        <!-- <remap from="~odom" to="/vicon_imu_ekf_odom" /> -->
			
		<!-- <remap from="~odom" to="/vins_fusion/imu_propagate" /> -->

        <remap from="~odom" to="/vicon/odom" />
		<remap from="~cmd" to="/position_cmd" />
        <rosparam command="load" file="$(find px4ctrl)/config/ctrl_param_fpv.yaml" />
	</node>
 
</launch>
